

<div class="footer">
    <div class="overlayer">
    <div class="container">
        <div class="row support">
            <div class="col-sm-3">
                <h4>Help and Support</h4>
                <ul class="list-unstyled">

                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/contact-us/">Contact Us</a></li>

                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Clients</h4>
                <ul class="list-unstyled">

                  <% data.clients.list.each do |f| %>
                    <li><%= f %></li>
                 <% end %>
                </ul>

            </div>
            <div class="col-sm-4">
                <h4>Recent Entries</h4>
                <ul class="list-unstyled">
                <% blog.articles[0...5].each do |article| %>
                  <li>
                    <a href="<%= article.url %>"><%= article.title %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-sm-2">
                <h4>More Links</h4>
                <ul class="list-unstyled">

                    <li> <a href="/terms">Terms &amp; Conditions</a></li>
                    <li> <a href="/privacy">Privacy Policy</a></li>

                </ul>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="credits">
                &copy; 2015-16 Youth Therapy Services, made with <i class="fa fa-heart heart" alt="love"></i> by Summit360.
            </div>
        </div>
    </div>
    </div>
</div>

<%= javascript_include_tag  "all" %>
<%= google_analytics_universal_tag %>
