<%= partial "layouts/layout_header" %>
<body class="<%= page_classes %>">

	<%= partial "layouts/layout_navigation" %>

	<%= yield %>
	<%= partial "layouts/layout_footer" %>

	<%= javascript_include_tag  "all" %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script async defer data-domain="summit360.co.uk" src="https://plausible.io/js/plausible.js"></script>

</body>
</html>
